<div class="form_settings form_change col-md-5">
	<h4 style="margin-bottom: 20px;">Change password</h4>
	<div class="form-group">
        <label for="pwd_old" class="col-md-4 control-label">old password</label>
        <input type="password" class="form-control" id="pwd_old" value="">
    </div>
    <div class="form-group">
        <label for="pwd_new" class="col-md-4 control-label">new password</label>
        <input type="password" class="form-control" id="pwd_new" value="">
    </div>
    <div class="form-group">
        <label for="pwd_confirm_new" class="col-md-4 control-label">confirm new password</label>
        <input type="password" class="form-control" id="pwd_confirm_new" value="">
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-primary" onclick="Profile.change_password();">Change Password</button>
    </div>

    <div class="ic-close change" style="margin: -10px 0px 0px 0px">
        <a href="#" onclick="gotoMyAccount();"><img class="cancel" src="images/cancel.jpg" alt=""></a>
    </div>
</div>
