<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9">    <![endif]-->
		<head>
			<meta charset="utf-8">
			<title>Encore demo</title>
			<!-- Mobile viewport optimized: h5bp.com/viewport -->
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
			<meta name="format-detection" content="telephone=no">
			<meta name="robots" content="noindex">
			<!-- Style Sheet-->
			<link rel="stylesheet" type="text/css" href="css/camera.css" media="screen">
			<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css" media="screen">
			<link rel="stylesheet" type="text/css" href="css/jquery.fullwidthAudioPlayer.css" media="screen">
			<link rel="stylesheet" type="text/css" href="css/jquery.fullwidthAudioPlayer-responsive.css" media="screen">
			<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
			<!-- favicon -->
			<link rel="shortcut icon" href="/favicon.ico">
			
			<!--[if lt IE 9]>
					<script src="js/html5.js"></script>				
			<![endif]-->
			
			<!-- Color Scheme -->
			<link rel="stylesheet" href="css/skin/scheme1.css" type="text/css">
             
		</head>
		
		<!-- BODY -->
		
		<body id="body">
		
			<!-- MUSIC PLAYER -->
		
			<div class="music-player has-player">
				
                <a href="music/Waylon_Thornton_-_01_-_Bronco_Romp.mp3" title="Waylon Thornton - Bronco Romp" target="http://gozawi.com"  rel="http://gozawi.com/musicflow/images/albums/1.jpg" data-meta="#fap-meta-track1"></a>
                <a href="music/Waylon_Thornton_-_02_-_Favorite_Secrets.mp3" title="Waylon Thornton - Favorite Secrets" target="http://gozawi.com" rel="http://gozawi.com/musicflow/images/albums/1.jpg" data-meta="#fap-meta-track1"></a>
                <span id="fap-meta-track1">Mystery Club</span>
			</div>
			
			<!-- /MUSIC PLAYER -->
		
			<!-- HEADER -->
		
			<div class="top-wrapper small-wrapper skin-background-color2 header-background-1">
				<div class="top-wrapper-mask">
					<div class="center-wrapper">
						<div class="top-content-position">
							<div class="top-content skin-font-color3">
								<div class="top-content-up skin-border-color3">
									
									<!-- Logo  -->
									<ul class="main-menu regular">
										<li><a class="menu-current bold" href="/">Home</a>
										</li>
										<li><a class="skin-font-color3 skin-color-hover1" href="/">Registration</a>
										</li>
										<li><a class="skin-font-color3 skin-color-hover1 test" href="/listsong">Buy</a>
										</li>
										<li><a class="skin-font-color3 skin-color-hover1 test" id="transactions" href="/transactions">Licensing/Licensor</a>
										</li>
										<li><a class="skin-font-color3 skin-color-hover1" href="/search_song">Search</a>
										</li>
										
										<li><a class="skin-font-color3 skin-color-hover1" href="/about_us">about us</a></li>
										<li><a class="skin-font-color3 skin-color-hover1" href="/contact_us">contact</a></li>
									</ul>
									
									<!-- /Mobile menu  -->
									
								</div>
								<div class="top-content-down skin-border-color3">
								
									<!-- Place info  -->
								
									<div class="top-content-down-text regular">
										<span class="skin-font-color1">You are here: </span><a href="#" class="skin-font-color3">home </a><span>/ </span><a href="#" class="skin-font-color3">contact page </a>
									</div>
									
									<!-- /Place info  -->
									
									<!-- Social  -->
									
									<ul class="social">
										<li class="skin-background-color1 skin-background-hover3" ><a href="#"><img src="images/social/facebook.png" alt="social"></a></li>
										<li class="skin-background-color1 skin-background-hover3" ><a href="#"><img src="images/social/twitter.png" alt="social"></a></li>
										<li class="skin-background-color1 skin-background-hover3" ><a href="#"><img src="images/social/googleplus.png" alt="social"></a></li>
										<li class="skin-background-color1 skin-background-hover3" ><a href="#"><img src="images/social/lastfm.png" alt="social"></a></li>
										<li class="skin-background-color1 skin-background-hover3" ><a href="#"><img src="images/social/dribbble.png" alt="social"></a></li>
									</ul>
									
									<!-- /Social  -->
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- /bottom background - absolute -->
				
				<div class="bottom-background-position">
					<div class="bottom-background skin-background-color3"></div>
				</div>
				
				<!-- /bottom background - absolute -->
				
			</div>
			
			<!-- /HEADER -->

			<div class="center-wrapper main-content-wrapper">
			
				<!-- MAIN CONTENT -->
			
				<div class="three-fourth main-content-responsive">
				
					<!-- contact -->
				
					<div class="main-content">
						<div class="normal-page">
							<h2 class="bold skin-font-color5">Get in touch</h2>
							<div class="one-one">
							<p>
							Donec non mollis augue. Nunc venenatis, mauris eget consequat consectetur, nisl lacus condimentum nulla, eget imperdiet neque arcu ut augue. Pellentesque lacinia sapien id nulla iaculis vehicula. Vestibulum dictum ligula ac erat fringilla consectetur. Vivamus suscipit risus eget elit bibendum, ultricies placerat augue sagittis. Vestibulum ut urna at massa lobortis rhoncus sit amet sed mauris. Integer at enim vulputate, molestie eros et, condimentum mauris. Curabitur pulvinar libero ac dictum dignissim. Aliquam feugiat eros ut malesuada sollicitudin.
							</p>
							</div>
							<div class="one-one">
							<p>
							Sed at blandit sapien, eleifend tincidunt erat. Quisque tempor, lorem sit amet tristique ultricies, neque dolor fermentum lectus, quis sollicitudin massa arcu vitae mauris. Suspendisse potenti. Nullam ac ipsum feugiat, tempus nisi sit amet, porttitor tortor. Fusce at tellus auctor, bibendum nulla eget, porttitor leo. Quisque eu pellentesque justo. Nunc ac nulla euismod urna congue ultrices nec eu justo. Fusce imperdiet malesuada ligula, ac scelerisque enim porttitor non. Cras rhoncus dapibus convallis.
							</p>
							</div>
							<div class="one-one">
								<ul>
									<li><span class="bold">Address:</span> New york</li>
									<li><span class="bold">Email:</span> info@gozawi.com</li>
									<li><span class="bold">Phone:</span> +12 323 242 423</li>
								</ul>
							</div>
						</div>
					</div>
					
					<!-- /contact -->
					
					<div class="clearfix"></div>
					
					<!-- google map -->
					
					<div class="main-content">
						<h2 class="skin-font-color5">Check us on <span class="bold">map</span></h2>
						<iframe class="google-map" src="https://maps.google.pl/maps?source=s_q&amp;f=q&amp;hl=pl&amp;geocode=&amp;q=Pa%C5%82ac+Kultury+i+Nauki,+Plac+Defilad,+Warszawa&amp;aq=0&amp;oq=pa%C5%82a%C4%87+kultury&amp;sll=52.025459,19.204102&amp;sspn=12.453771,33.815918&amp;t=m&amp;ie=UTF8&amp;hq=Pa%C5%82ac+Kultury+i+Nauki,+Plac+Defilad,+Warszawa&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
					</div>
					
					<!-- /google map -->
					
					<div class="clearfix"></div>
					
					<!-- contact form -->
					
					<div class="main-content">
						<h2 class="skin-font-color5">Send <span class="bold">email</span></h2>
						<form method="post" class="contact-form">
							<div class="one-third">
								<input type="text" id="contact_name" class="skin-border-color4 skin-font-color13" value="Name" onblur="if(this.value == '') { this.value='Name'}" onfocus="if (this.value == 'Name') {this.value=''}">
								<input type="text" id="contact_email" class="skin-border-color4 skin-font-color13" value="Email address" onblur="if(this.value == '') { this.value='Email address'}" onfocus="if (this.value == 'Email address') {this.value=''}">
								<input type="text" id="contact_subject" class="skin-border-color4 skin-font-color13" value="Topic" onblur="if(this.value == '') { this.value='Topic'}" onfocus="if (this.value == 'Topic') {this.value=''}">
								<input type="text" class="skin-border-color4 skin-font-color13" id="contact_verify" value="">
								
							</div>
							<div class="two-third last">
								<textarea id="contact_text" class="skin-border-color4 skin-font-color13" onblur="if(this.value == '') { this.value='Message'}" onfocus="if (this.value == 'Message') {this.value=''}">Message</textarea>
								<input type="submit" id="contact_button"  value="Send email" class="button-normal skin-background-color1 skin-font-color3 skin-background-hover3"/>
							</div>
						</form>
					</div>
					
					<!-- /contact form-->
					
				</div>
				
				<!-- /MAIN CONTENT -->
				
				<!-- SIDEBAR -->
				
				<div class="one-fourth last sidebar-responsive">
				
					<!-- Media player -->
				
					<div class="sidebar-content widget-sidebar-media-player">
						<h2 class="skin-font-color5">Media <span class="bold">player</span></h2>
						<div class="album-info">
							<div class="one-half first-half">
								<h6 class="bold"><a href="album_open_big_header.html" class="skin-font-color5 skin-color-hover1">Mystery Club</a></h6>
								<p>
									Waylon Thornton<br>
									January 11, 2014
								</p>
							</div>
							<div class="one-half last">
								<img src="images/albums/1.jpg" alt="album">
								<div class="img-hover-sidebar font">
									<a href="album_open_big_header.html">
										<span class="skin-font-color3 font-size-72px">+</span>
									</a>
								</div>
							</div>
						</div>
						<ul>
							<li class="skin-border-color4">
								<a class="skin-font-color13 skin-color-hover1 fap-single-track" href="music/Waylon_Thornton_-_01_-_Bronco_Romp.mp3" title="Waylon Thornton - Bronco Romp" target="http://gozawi.com"  rel="http://gozawi.com/musicflow/images/albums/1.jpg" data-meta="#fap-meta-track1">1. Bronco Romp
									<div class="media-player-play-pause skin-border-color4"><span class="icon font-size-24px skin-font-color7">{</span></div>
								</a>
							</li>
							<li class="skin-border-color4">
								<a class="skin-font-color13 skin-color-hover1 fap-single-track" href="music/Waylon_Thornton_-_02_-_Favorite_Secrets.mp3" title="Waylon Thornton - Favorite Secrets" target="http://gozawi.com"  rel="http://gozawi.com/musicflow/images/albums/1.jpg" data-meta="#fap-meta-track1">2. Favorite Secrets
									<div class="media-player-play-pause skin-border-color4"><span class="icon font-size-24px skin-font-color7">{</span></div>
								</a>
							</li>
							<li class="skin-border-color4">
								<a class="skin-font-color13 skin-color-hover1 fap-single-track" href="music/Waylon_Thornton_-_03_-_Flashlight_Tag.mp3" title="Waylon Thornton - Flashlight Tag" target="http://gozawi.com"  rel="http://gozawi.com/musicflow/images/albums/1.jpg" data-meta="#fap-meta-track1">3. Flashlight Tag
									<div class="media-player-play-pause skin-border-color4"><span class="icon font-size-24px skin-font-color7">{</span></div>
								</a>
							</li>
							<li class="skin-border-color4">
								<a class="skin-font-color13 skin-color-hover1 fap-single-track" href="music/Waylon_Thornton_-_04_-_Look_For_Danger.mp3" title="Waylon Thornton - Look For Danger" target="http://gozawi.com"  rel="http://gozawi.com/musicflow/images/albums/1.jpg" data-meta="#fap-meta-track1">4. Look For Danger
									<div class="media-player-play-pause skin-border-color4"><span class="icon font-size-24px skin-font-color7">{</span></div>
								</a>
							</li>
							<li class="skin-border-color4">
								<a class="skin-font-color13 skin-color-hover1 fap-single-track" href="music/Waylon_Thornton_-_05_-_Piece_Of_Eight.mp3" title="Waylon Thornton - Piece Of Eight" target="http://gozawi.com"  rel="http://gozawi.com/musicflow/images/albums/1.jpg" data-meta="#fap-meta-track1">5. Piece Of Eight
									<div class="media-player-play-pause skin-border-color4"><span class="icon font-size-24px skin-font-color7">{</span></div>
								</a>
							</li>
						</ul>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">Buy on itunes</a>
						<span class="price bold font-size-14px">$ 25.99</span>
					</div>
					
					<!-- /Media player -->
					
					<div class="clearfix"></div>
					
					<!-- Other albums -->

					<div class="sidebar-content widget-sidebar-other-albums">
						<h2 class="skin-font-color5">Other <span class="bold">albums</span></h2>
						<div class="album-info">
							<div class="one-half first-half">
								<h6 class="bold"><a href="album_open_default.html" class="skin-font-color5 skin-color-hover1">Modern Antiques Vol 1 & 2</a></h6>
								<p>
									Silence Is Sexy<br>
									June 25, 2012
								</p>
							</div>
							<div class="one-half last">
								<img src="images/albums/2.jpg" alt="album">
								<div class="img-hover-sidebar font">
									<a href="album_open_default.html">
										<span class="skin-font-color3 font-size-72px">+</span>
									</a>
								</div>
							</div>
						</div>
						<div class="album-info">
							<div class="one-half first-half">
								<h6 class="bold"><a href="#" class="skin-font-color5 skin-color-hover1">The Joey Burns EP</a></h6>
								<p>
									Meanwhileproject.ltd<br>
									June 25, 2012
								</p>
							</div>
							<div class="one-half last">
								<img src="images/albums/3.jpg" alt="album">
								<div class="img-hover-sidebar font">
									<a href="album_open_default.html">
										<span class="skin-font-color3 font-size-72px">+</span>
									</a>
								</div>
							</div>
						</div>
						<div class="album-info">
							<div class="one-half first-half">
								<h6 class="bold"><a href="album_open_default.html" class="skin-font-color5 skin-color-hover1">The Womb: Escapism (2013 Remaster)</a></h6>
								<p>
									The Womb<br>
									June 25, 2012
								</p>
							</div>
							<div class="one-half last">
								<img src="images/albums/4.jpg" alt="album">
								<div class="img-hover-sidebar font">
									<a href="album_open_default.html">
										<span class="skin-font-color3 font-size-72px">+</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					
					<!-- /Other albums-->
					
					<div class="clearfix"></div>
					
					<!-- search -->
					
					<div class="sidebar-content widget-sidebar-search">
						<h2 class="skin-font-color5">Search <span class="bold">content</span></h2>
						<div class="skin-background-color7 search-box">
							<form method="post" action="#" class="search">
								<input type="text" class="skin-background-color2 skin-font-color7 font-size-14px font" value="Search here" onblur="if(this.value == '') { this.value='Search here'}" onfocus="if (this.value == 'Search here') {this.value=''}" >	
								<input type="submit" class="icon font-size-72px skin-font-color2 skin-color-hover4" value="r">
							</form>	
						</div>
					</div>
					
					<!-- /search -->
					
					<div class="clearfix"></div>

					<!-- Text widget -->

					<div class="sidebar-content widget-sidebar-text-widget">
						<h2 class="skin-font-color5">Text <span class="bold">widget</span></h2>
						<p>
						Donec gravida augue at mi dapibus, vel 
						posuere sapien gravida. Phasellus quis nibh nec turpis egestas malesuada...
						</p>
					</div>
					
					<!-- /Text widget -->
					
					<div class="clearfix"></div>

					<!-- Popular artists -->
					
					<div class="sidebar-content widget-sidebar-popular-artist">
						<h2 class="skin-font-color5">Popular <span class="bold">artists</span></h2>
						<div class="artist-info">
							<div class="one-half first-half">
								<h6 class="bold"><a href="resident_open.html" class="skin-font-color5 skin-color-hover1">The Womb</a></h6>
								<p>
									28 events<br>
									6 albums
								</p>
							</div>
							<div class="one-half last">
								<img src="images/artists/1.jpg" alt="album">
								<div class="img-hover-sidebar font">
									<a href="resident_open.html">
										<span class="skin-font-color3 font-size-72px">+</span>
									</a>
								</div>
							</div>
						</div>
						<div class="artist-info">
							<div class="one-half first-half">
								<h6 class="bold"><a href="resident_open.html" class="skin-font-color5 skin-color-hover1">Xenia Rubinos</a></h6>
								<p>
									23 events<br>
									3 albums
								</p>
							</div>
							<div class="one-half last">
								<img src="images/artists/2.jpg" alt="album">
								<div class="img-hover-sidebar font">
									<a href="resident_open.html">
										<span class="skin-font-color3 font-size-72px">+</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					
					<!-- /Popular artist -->
					
				</div>
				
				<!-- /SIDEBAR -->

			</div>
			
			<div class="clearfix"></div>
				
			<!-- BOTTOM -->
				
			<div class="bottom skin-background-color2">
				<div class="center-wrapper widget-bottom-contact-us skin-font-color10">
				
					<!-- Bottom widget place #1 -->
				
					<div class="one-fourth regular">
						<h2 class="skin-font-color3">Contact <span class="bold">us</span></h2>
						<p>
						Ellentesque eget mi nulla, ut ultrices enim. Etiam id erat bibendum metus tristique 
						vestibulum sit amet ac mauris. Suspendisse eget nibh lectus.
						</p>
						<ul>
							<li><span class="skin-font-color1">Address:</span> New york</li>
							<li><span class="skin-font-color1">Email:</span> info@gozawi.com</li>
							<li><span class="skin-font-color1">Phone:</span> +12 323 242 423</li>
						</ul>
					</div>
					
					<!-- Bottom widget place /#1 -->
					
					<!-- Bottom widget place #2 -->
					
					<div class="one-fourth widget-bottom-latest-posts regular">
						<h2 class="skin-font-color3">Latest <span class="bold">posts</span></h2>
						<ul>
							<li><a href="#" class="skin-font-color10 skin-color-hover1">Electronic music</a></li>
							<li><a href="#" class="skin-font-color10 skin-color-hover1">Behind the stage</a></li>
							<li><a href="#" class="skin-font-color10 skin-color-hover1">Rock party in Warsaw</a></li>
							<li><a href="#" class="skin-font-color10 skin-color-hover1">Dubstep music in Norway</a></li>
							<li><a href="#" class="skin-font-color10 skin-color-hover1">Place for new album promo</a></li>
						</ul>
					</div>
					
					<!-- Bottom widget place /#2 -->
					
					<!-- Bottom widget place #3 -->
					
					<div class="one-fourth widget-bottom-tags regular">
						<h2 class="skin-font-color3">Tag <span class="bold">cloud</span></h2>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">car show</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">electronic music</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">party</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">promo albums</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">summer rock</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">festival</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">stage</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">dubstep</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">city</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">tickets</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">concerts</a>
					</div>
					
					<!-- Bottom widget place /#3 -->
					
					<!-- Bottom widget place #4 -->
					
					<div class="one-fourth widget-bottom-flickr regular last">
						<h2 class="skin-font-color3">Flickr <span class="bold">widget</span></h2>
						<ul class="flickr"></ul>
					</div>
					
					<!-- Bottom widget place /#4 -->
					
				</div>
				
				<!-- Go top - absolute  -->
				
				<div class="go-top skin-border-color5 skin-border-hover1">
					<a href="#" onClick="ScrollTo('body')"><img src="images/go-top.png" alt="go-top"></a>
				</div>	
				
				<!-- Go top - /absolute  -->
				
			</div>
				
			<!-- /BOTTOM -->
			
			<div class="clearfix"></div>
			
			<!-- FOOTER -->
			
			<div class="footer skin-background-color11">
				<div class="center-wrapper skin-font-color12 regular">
					<span>© 2013 - music template for themeforest. Design & code by wtxinc</span>
					<ul>
						<li><a href="#" class="skin-font-color12 skin-color-hover1">terms of use </a> / </li>
						<li><a href="#" class="skin-font-color12 skin-color-hover1">cookies </a> / </li>
						<li><a href="#" class="skin-font-color12 skin-color-hover1">job offers </a> / </li>
						<li><a href="#" class="skin-font-color12 skin-color-hover1">contact </a></li>
					</ul>
				</div>
			</div>
			
			<!-- /FOOTER -->

			<!-- ATTACHMENTS -->

			<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
			<script type="text/javascript" src="js/jquery.migrate-1.2.1.min.js"></script>
			<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
			<script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
			<script type="text/javascript" src="js/wait.js"></script>
			<script type="text/javascript" src="js/jquery.parallax.min.js"></script>
			
			<script type="text/javascript" src="js/jquery.tweet.js"></script>
			<script type="text/javascript" src="js/jquery.scrollTo.js"></script>
			
			
			<!-- <script type="text/javascript" src="js/camera.js"></script> -->
			
			<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
			<script type="text/javascript" src="js/jquery-ui.js"></script>
			
			<!-- Player -->

			<script type="text/javascript" src="js/player/soundmanager2-nodebug-jsmin.js"></script>
			<script type="text/javascript" src="https://connect.soundcloud.com/sdk.js"></script>
			<script type="text/javascript" src="js/player/amplify.min.js"></script>
			<script type="text/javascript" src="js/player/jquery.fullwidthAudioPlayer.min.js"></script>

			<!-- Custom Js -->
			<script type="text/javascript">
            	$("a#transactions").click(function(){
				   App.transactionOnclick();
				   return false;
				});
            </script>
			<script type="text/javascript" src="js/custom.js"></script>

			<!-- /ATTACHMENTS -->
			
		</body>	

		<!-- /BODY -->
		
</html>