<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register LightWallet Seed</title>
	<link rel="stylesheet" href="css/common/bootstrap.min.css">
	<link rel="stylesheet" href="css/common/font-awesome.min.css">
	<link rel="stylesheet" href="css/common/jslider.css" type="text/css">
	<link rel="stylesheet" href="css/common/common.css">
	<link rel="stylesheet" href="css/register/register_lightwallet_seed.css">
	<script src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			document.getElementById('btn-next').disabled = true;
		});
	</script>
</head>
<body>
	<div class="register">
		<div class="container">
			<div class="wrap">
				<div class="des">
					<div class="col-md-12 col-xs-12">
						<img class="img_logo" src="images/logo_1.jpg" alt="">
						<h3>create account</h3>
						<!-- <h4>2 OF 3</h4> -->
						<div class="regis_seed">
							<p>Please move your mouse to add entropy to the seed generation.</p>
							 <div class="layout-slider">
						      	<input id="SliderSingle" type="slider" name="price" value="0" />
						    </div>
							
							<div class="form-group" hidden="true">
								<label class="col-md-4 control-label">seed</label>
								<div class="col-md-12 col-xs-12">
									<input type="text" name="seed" id="seed" class="form-control" tabindex="0" readonly="true" value="">
								</div>
							</div>
							<div class="form-group" hidden="true">
								<label class="col-md-4 control-label">user id</label>
								<div class="col-md-12 col-xs-12">
									<input type="text" name="role" id="role" class="form-control" tabindex="1" readonly="true" value="">
								</div>
							</div>
							<div class="form-group" hidden="true">
								<label class="col-md-4 control-label">user id</label>
								<div class="col-md-12 col-xs-12">
									<input type="text" name="private_key" id="private_key" class="form-control" tabindex="1" readonly="true" value="">
								</div>
							</div>
							<button class="btn btn-primary next" id="btn-next" name="btn-next" onclick="gotoNextStep();">NEXT</button>
						</div>			
					</div>
					<div class="ic-close">
						<a href="/mass-sign-up-step-1"><img class="cancel" src="images/cancel.jpg" alt=""></a>
					</div>
					<div class="clear"></div>	
					 <div class="clear"></div>
                    <%- include ../process/loading.ejs %>	
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/range_js/jshashtable-2.1_src.js"></script>
	<script type="text/javascript" src="js/range_js/jquery.numberformatter-1.2.3.js"></script>
	<script type="text/javascript" src="js/range_js/tmpl.js"></script>
	<script type="text/javascript" src="js/range_js/jquery.dependClass-0.1.js"></script>
	<script type="text/javascript" src="js/range_js/draggable-0.1.js"></script>
	<script type="text/javascript" src="js/range_js/jquery.slider.js"></script>
	<script type="text/javascript" charset="utf-8">
	    jQuery("#SliderSingle").slider({ from: 0, to: 100, step: 2.5, round: 1, format: { format: '##', locale: 'de' }, skin: "round" });
	</script>

	<script src="javascripts/web3.min.js"></script>
	<script src="javascripts/entropy-collector.js"></script>
	<script src="javascripts/lightwallet.min.js"></script>
    <script src="javascripts/hooked-web3-provider.min.js"></script>
	<script src="javascripts/wallet.js"></script>
	<script type="text/javascript">
	    var entropy_limit = 5000;
	    var seed = null;
	    var percentage = 0;
	    var progress = 0;
	    var url = '<%=url%>';
	    EntropyCollector.start();
	    var interval_timer = window.setInterval(function() {
	        if (EntropyCollector.estimatedEntropy > entropy_limit) {
	           $("#SliderSingle").slider('value', 100);
	            seed = lightwallet.keystore.generateRandomSeed(String.fromCharCode.apply(null, new Uint16Array(EntropyCollector.buffer)));
	            clearInterval(interval_timer);
	            $("#seed").val(seed);
	            EntropyCollector.stop();
	            bootbox.dialog({
				  message: "<input type='password' class='bootbox-input form-control' id='password' placeholder='password'>",
				  title: "Please enter your password:",
				  buttons: {
				    main: {
				      label: "Done",
				      className: "btn-primary",
				      callback: function() {
				      	var password = document.getElementById('password').value;
				      	if(password.length<6){
				      		bootbox.alert('Your password too long');
				      		return false
				      	}else{
				      		loading("Processing...");
			                $.ajax({
			                    type: 'POST',
			                    url: "/api/verify-passord",
			                    data: {
			                        password: password
			                    },
			                    cache: false
			                }).done((res) => {
			                    hide();
			                    bootbox.hideAll();
			                    generate_addresses(seed,url,password);
			                }).fail(() => {
			                    hide();
			                    bootbox.alert("Your password is not correct");
			                });
				      		return false;
				      	}
				      }
				    }
				  }
				});
	        } else {
	            percentage = parseInt(EntropyCollector.estimatedEntropy / entropy_limit * 100);
	            if (percentage > progress) {
	                $("#SliderSingle").slider('value', percentage);
	                progress = percentage;
	            }
	        }
	    }, 1000 / 30);

	    function gotoNextStep(){
	    	var seed = document.getElementById("seed").value;
	    	var privateKey = document.getElementById("private_key").value;
	    	var publicKey = document.getElementById("role").value;
	    	location.href = '/mass-sign-up-step-3?seed=' + seed + '&private_key=' + privateKey + '&public_key=' + publicKey;
	    }
	    function loading(txt){
            $('.load').html(txt);
            $('#loading').show();
        }

        function hide(){
           $('#loading').hide();
        }
	</script>
</body>
</html>
