.form-group input {
    border-radius: 1cm;
}

#bt1 {
    width: 100%;
    border-radius: 25px;
    font-weight: 600;
    background: #ffffff;
    height: 40px;
    color: #0a3e6d;
}

#bt2 {
    width: 100%;
    border-radius: 25px;
    font-weight: 600;
    background: #0a3e6d;
    height: 40px;
    outline: none;
}

#bt3 {

    border-radius: 25px;
    font-weight: 600;
    background: #ffffff;
    height: 35px;
    color: #0a3e6d;
}

.form_settings{
	margin: 15px 10px;
    overflow: hidden;
}

.wrap_content{
	overflow: hidden;
}

.form_result {
	width: 90%;
	padding: 0 15px;
	overflow: hidden;
}

.table_verify_result th{
	font-size: 14px;
	color: #8c8c8c;
	border-top: none !important;
	width: 15%;
	padding-top: 12px !important;
}

.table_verify_result table {
	border: none;
}

.table_verify_result td {
	border-top: none !important;
	width: 85%;
}

.table_verify_result p {
	padding: 0 !important;
	display: inline-block;
}

.selectdiv {
  position: relative;         
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.selectdiv:after {
    content: '\f078';
    font: normal normal normal 12px/1 FontAwesome;
    color: #0a3e6d;
    right: 23px;
    top: 0;
    padding: 10px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}

.selectdiv select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      width: 100%;
      background-color: #ffffff;
      background-image: none;
      -ms-word-break: normal;
      word-break: normal;
      border: none;
}

.form_login form {
  width: 50%;
}

.change_mobile {
  width: 100%;
}

.change_mobile .form-group {
  width: 60%;
}

.btn-primary {
  outline: none !important;
}

@media (min-width: 1366px){
  .form_change {
    width: 100%;
  }

  .form_change .form-group {
    width: 60%;
  }
}

@media(width: 1366px) {
  #bt1, #bt2 {
    font-size: 13px;
  }
}

@media (width: 1024px) {
  .left {
    width: 30%;
  }

  .right {
    width: 70%;
  }

  #bt2 {
    width: 100% !important;
  }

  .form_change {
    width: 100%;
  }

  .form_change .form-group {
    width: 50%;
  }

  .form_change label {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
    
  #tab-content .nav-tabs>li{
      width: 50%;
  }
  #tab-content .nav-tabs>li>a{
      text-align: center;
      height: 61px;

  }

  .form_login form {
    width: 100%;
  }

  .ic-close {
    top: -6px;
    right: 8px;
  }

  .change {
    top: 11px;
  }

  .cancel {
    width: 22px;
  }

  .change_mobile {
     margin: 0;
  }

  .change_mobile .form-group {
    width: 100%;
  }

}