#table_search {
	margin-top: 20px;
}
.filter {
	width: initial;
}
#song_title {
	width: 50%;
}

#bt2 {
    width: 110%;
    border-radius: 25px;
    font-weight: 600;
    background: #0a3e6d;
    height: 40px;
}

table tr td {
	text-align: left;
}

@media only screen and (max-width: 767px) {
    
   #tab-content .nav-tabs>li{
        width: 50%;
    }
    #tab-content .nav-tabs>li>a{
        text-align: center;
        height: 61px;
    }


}
